html{
    height: 100%;
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    /* font-family: 'PT Sans', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
}

a{
    text-decoration: none;
    background-color: transparent;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

body{
    height: 100%;
    text-transform: capitalize
}

#navigation-outer{
    width: 100%;
    height: 40px;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}

#navigation-inner{
    width: 250px; 
    display: flex; 
    justify-content: space-around;
    margin-right: 40px;
}

.navigation-item{
    font-size: 14pt;
    padding: 2px;
    float: right;
    color: #AAA;
    margin-right: 5px;
    font-weight: 300;
    -webkit-transition: color 0.15s; /* Safari */
    transition: color 0.15s;
    transition-timing-function: ease-in-out;
    /* font-weight: bold; */
}

.navigation-item:hover{
    color: #333;
    cursor: pointer;
    -webkit-transition: background color 0.15s; /* Safari */
    transition: background color 0.15s;
    transition-timing-function: ease-in-out;
}

.navigation-item-selected{
    border-bottom: 2px solid hsl(218, 42%, 46%);
    font-weight: bold;
    color: black;
}

#content-inner{
    width: 80%; 
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}

#me{
    text-align: center; 
    width: 50%;
    /* background: teal; */
}

#divider-shell{
    width: 10%;
    display: flex;
    justify-content: center;
    /* background: tomato; */
}

#view-resume-btn{
    width: 40%; 
    display: flex; 
    justify-content: center;
    /* background: pink;  */
    align-items: center;
}

#name{
    font-size: 45pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

#title{
    font-size: 23pt;
    font-weight: 300;
}

.divider{
    width: 8px;
    height: 150px;
}

#links{
    margin-top: 100px;
    display: flex;
    font-size: 15pt;
}

#resume-link{
    border-radius: 5px;
    text-align: center;
    border: 1px solid hsl(218, 42%, 46%);
    padding: 8px;
    height: 30px;
    width: 150px;
    font-weight: 300;
    font-size: 14pt;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: background 0.15s, color 0.15s; /* Safari */
    transition: background 0.15s, color 0.15s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

#resume-link:hover{
    background: hsl(218, 45%, 35%);
    color: white;
    -webkit-transition: background 0.15s, color 0.15s; /* Safari */
    transition: background 0.15s, color 0.15s;
    transition-timing-function: ease-in-out;
}

.link{
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;
    background: #21449b;
    -webkit-transition: background 0.15s; /* Safari */
    transition: background 0.15s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.link:hover{
    background: #3b59a5;
    -webkit-transition: background 0.15s; /* Safari */
    transition: background 0.15s;
    /* opacity: 0.8; */
}

i.fab,
i.fas, 
i.far {
    font-size: 12pt;
}

@media only screen and (max-width: 850px) {
    #navigation-outer{
        justify-content: center;
    }

    #navigation-inner{
        margin-right: 0px;
    }

    #content-title{
        justify-content: center;
        margin-top: 20px;
        margin-left: 0px;
    }

    #content-inner{
        flex-direction: column;
    }

    #me{
        margin-top: -20px;
        width: 100%;
        margin-bottom: 50px;
    }

    #name{
        font-size: 35pt;
    }

    #title{
        font-size: 18pt;
    }

    #divider-shell{
        display: none;
    }

    #view-resume-btn{
        width: 100%;
    }
  }