html{
    font-family: 'Lato', sans-serif;
}

html, body{
    height: 100%;
}

a{
    text-decoration: none;
    background-color: transparent;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

#navigation-outer{
    width: 100%;
    height: 40px;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}

#navigation-inner{
    width: 250px; 
    display: flex; 
    justify-content: space-around;
    margin-right: 40px;
}

.navigation-item{
    font-size: 14pt;
    padding: 2px;
    color: #AAA;
    font-weight: 300;
    -webkit-transition: color 0.15s; /* Safari */
    transition: color 0.15s;
    transition-timing-function: ease-in-out;
    /* font-weight: bold; */
}

.navigation-item:hover{
    color: #333;
    cursor: pointer;
    -webkit-transition: background color 0.15s; /* Safari */
    transition: background color 0.15s;
    transition-timing-function: ease-in-out;
}

.navigation-item-selected{
    border-bottom: 2px solid hsl(218, 42%, 46%);
    font-weight: bold;
    color: black;
}

#content{
    /* display: flex;
    flex-wrap: wrap; */
}

#work-content{
}

#skills-content{
    margin-bottom: 10px;
}

#skill-list{
    margin-left: 100px;
    margin-top: 5px;
    display: flex;
    padding: 15px;
}

.skill-item{
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 13pt;
}

.skill-item-title{
    font-weight: bold;
}

.content-title{
    font-size: 20pt;
    font-weight: bold;
    margin-left: 50px;
    padding: 10px;
    display: flex;
}

.spacer{
    width: 60px;
}

.resume-item{
    width: 100%;
    display: flex;
    min-height: 200px;
}

.dot{
    border-radius: 50%;
    border: 3px solid hsl(218, 42%, 46%);
    width: 12px;
    height: 12px;
    background: white;
    /* border: 2px solid hsl(218, 50%, 63%); */
}

.line{
    height: 100%;
    background: hsl(218, 50%, 63%);
    width: 3px;
    margin-left: 8px;
}

.resume-item-content{
    padding: 15px;
    margin-left: -20px;
}

.resume-item-company{
    height: 30px;
    font-size: 18pt;
    margin-top: 5px;
    font-weight: bold;
}

.resume-item-position{
    font-weight: 100;
}

.resume-item-city{
    font-weight: 100;
    font-style: italic;
}

.resume-item-duration{
    font-size: 10.5pt;
    font-weight: 300;
}

.resume-item-desc{
    margin-bottom: 5px;
    max-width: 600px;
}

.resume-item-desc ul{
    margin-left: -18px;
}

.resume-item-desc ul li{
    margin-bottom: 15px;
    font-size: 10.5pt;
}

.resume-item-tech{
    margin-bottom: 5px;
    font-size: 10pt;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.tech-used{
    margin-right: 5px;
    float: left; 
    font-weight: bold;
    padding: 4px;
    padding-left: 0px;
}

.tech-item{
    border-radius: 20px;
    padding: 4px;
    /* background: hsl(218, 42%, 46%); */
    margin-right: 5px;
    float: left;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.tech-item-dot{
    border-radius: 50%;
    background: hsl(218, 42%, 46%);
    width: 7px;
    height: 7px;
    margin-right: 5px;
}

@media only screen and (max-width: 850px) {
    #navigation-outer{
        justify-content: center;
    }

    #navigation-inner{
        margin-right: -15px;
    }

    .content-title{
        justify-content: center;
        margin-top: 20px;
        margin-left: 0px;
        font-size: 18pt;
    }

    #skill-list{
        margin-left: 0;
        justify-content: center;
    }

    .skill-item{
        font-size: 11.5pt;
    }

    .resume-item-company{
        font-size: 15pt;
    }

    .resume-item{
        margin-right: 200px;
    }

    .resume-item-desc{
        max-width: 500px;
    }
    .spacer{
        width: 5px;
    }

    .tech-item{
        margin-bottom: -5px;
        font-size: 9.5pt;
    }

    .tech-used{
        font-size: 9.5pt;
    }

    .resume-item-desc ul li{
        font-size: 9.5pt;
    }
}


@media only screen and (max-width: 630px) {
    .resume-item-desc{
        padding-right: 30px;
    }

    .resume-item-tech{
        /* flex-direction: column; */
        align-content: flex-start;
        align-items: flex-start;
    }
}