
html, body{
    font-family: Avenir, sans-serif;
    color: white;
    background-color: #141829;
    height: 100%;
}

#content{
    height: 100%;
}

#content:after{
  content: "";
  display: table;
  clear: both;
}

#me{
    font-family: 'Roboto Slab', serif;
    background: blue;
    float:left;
    width: 50%;
    height: 100%;
    display: table;
    text-align: center;
}

#name{
    display: table-cell;
    vertical-align: middle;
}

#firstname{
    font-weight: 100;
    font-size: 50px; 
    display: inline-block;
    margin-right: 2%;
}

#lastname{
    font-weight: 700;
    font-size: 50px;
    display: inline-block
}

#info{
    font-family: 'Roboto Slab', serif;
    float: right;
    width: 50%;
    background: red;
    height: 100%;
}

#title{
    text-align: center;
    background: green;
}

#description{
    font-weight: 500;
    font-size:x-large; 
}


#group{
    vertical-align: middle;
    border: 1px solid #68AAD6;
    background: purple;
}

.item{
    font-weight: 300;
    font-size: large; 
    display: inline-block;
    padding-left: 10px;
    padding-right:10px;
}


